:root {
    --b-color-background-primary: #eff2f6;
    --b-color-section-background: #ffffff;
    --b-color-overlay-background: #f7f7f7;
    --b-color-primary: #272727;
    --b-color-secondary: #5a5a5a;
    --b-color-tertiary: #d6d6d6;

    --b-color-accent-1: #d42e00;
    --b-color-accent-1-contrast: #f6f6f6;
    --b-color-accent-2: #ffab2e;
    --b-color-accent-2-contrast: #1c1c1c;

    --b-border-sectional: dashed 1pt var(--b-color-primary);
    --b-border-secondary: solid 1pt var(--b-color-tertiary);

    --b-radius-large: 3pt;
    --b-radius-small: 3pt;

    --b-font-primary: Inter;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    color: var(--b-color-primary);
    background-color: var(--b-color-background-primary);

    font-family: var(--b-font-primary);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

fieldset,
input {
    border: var(--b-border-secondary);
    border-radius: var(--b-radius-small);
}

input {
    background-color: var(--b-color-overlay-background);
}
