:root {
    --b-color-background-primary: #ffffff;
    --b-color-primary: #272727;
    --b-color-secondary: #444444;

    --b-border-sectional: dashed 1pt var(--b-color-primary);
    --b-border-secondary: solid 1pt var(--b-border-secondary);
    
    --b-radius-large: 3pt;

    --b-font-primary: Inter; 
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    color: var(--b-color-primary);
    background-color: var(--b-color-background-primary);

    font-family: var(--b-font-primary);
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

p {
    text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}
